.backgroundImage{
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.play:hover{
    cursor: pointer;
}

.mp3player{
    position: fixed;
    bottom: 0;
    left: 0;
}

#playPauseButton:hover{
    cursor: pointer;
}

.musicPlayerRange{

}

input[type="range"]::-webkit-slider-thumb {
    border-radius: 50%;
    background: #ff4500;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
